@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&subset=vietnamese');

/*Custom bootstrap*/
.gutter-10 { margin-left: -10px; margin-right: -10px; }
.gutter-10 > [class*='col-'] { padding-right: 10px; padding-left: 10px; }
.gutter-5 { margin-left: -5px; margin-right: -5px; }
.gutter-5 > [class*='col-'] { padding-right: 5px; padding-left: 5px; }
.gutter-2 { margin-left: -2px; margin-right: -2px; }
.gutter-2 > [class*='col-'] { padding-right: 2px; padding-left: 2px; }

.gutter-0 { margin-left: 0px; margin-right: 0px; }
.gutter-0 > [class*='col-'] { padding-right: 0px; padding-left: 0px; }
.container-fluid-0{padding: 0px;}


/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { outline: 0; border: 0; }
body { padding: 0; margin: 0 auto; color: #2a2a2a; background: #fff; font-size: 16px; font-family: 'Helvetica Neue', sans-serif; line-height: 1.8; }
table { border-collapse: collapse; border-spacing: 0; }
table tr td { padding: 3px 0; }
img { border: 0; padding: 0px; }
a { color: #2a2a2a; text-decoration: none; cursor: pointer; -webkit-transition: all .30s ease-in-out; -moz-transition: all .30s ease-in-out; -ms-transition: all .30s ease-in-out; -o-transition: all .30s ease-in-out; transition: all .30s ease-in-out; }
a:before,a:after{-webkit-transition: all .30s ease-in-out; -moz-transition: all .30s ease-in-out; -ms-transition: all .30s ease-in-out; -o-transition: all .30s ease-in-out; transition: all .30s ease-in-out; }
a:hover { color: #17793e; text-decoration: none; }
.button-submit { border: solid 0px #5c4621; height: 33px; line-height: 33px; padding: 0px 25px; margin: 0px; background: #d49f0b; color: #fff; font-size: 14px; cursor: pointer;
                 border-radius:8px; min-width:256px;
}
.button-submit:hover { color: #fff; background: #17793e; }
*,
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.relative{position: relative;}
.vertical-align{position: relative;}
.vertical-align .inner {  position: absolute; top: 50%; transform: translateY(-50%); width: 100%;}
.cover{background-size: cover; min-height: 200px;}

.btn-round{ color: #bd9412; border:solid 1px #f8f3e9;  border-radius: 24px;	padding: 10px 30px 10px 30px; position: relative;}
.btn-round:hover{background: #22ab5b; color:#fff; border-color: #22ab5b; }

.btn-special{border:solid 1px #f8f3e9; padding: 3px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.btn-special span{
  display:inline-block;
   background: #17793e;
  background-image: -webkit-linear-gradient(right, #17793e, #22ab5b);
  background-image: -moz-linear-gradient(right, #17793e, #22ab5b);
  background-image: -ms-linear-gradient(right, #17793e, #22ab5b);
  background-image: -o-linear-gradient(right, #17793e, #22ab5b);
  background-image: linear-gradient(to left, #17793e, #22ab5b);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}
.btn-special:hover span{
  background-image: -webkit-linear-gradient(right, #d97027, #e2b622);
  background-image: -moz-linear-gradient(right, #d97027, #e2b622);
  background-image: -ms-linear-gradient(right, #d97027, #e2b622);
  background-image: -o-linear-gradient(right, #d97027, #e2b622);
  background-image: linear-gradient(to left, #d97027, #e2b622);
}
.btn-arrow-right{font-weight: 300; padding:0px; padding-right: 35px; background:url('../images/arrow-right.png') no-repeat right center;}

.kanit{font-family: 'Kanit', sans-serif;}
.font-300{font-weight:300; }
.font-400{font-weight:400; }
.font-500{font-weight:500; }
.font-600{font-weight:600; }
.font-700{font-weight:700; }
.uppercase{text-transform: uppercase;}
.UTMEssendineCaps{font-family: 'UTMEssendineCaps';}

ul.bxslider{list-style:none; padding: 0px;}
#page_slide .bx-wrapper li{display: block; width: 100% !important;}
#page_wrapper .bx-wrapper img{width:100%; height:auto;}

.main-title {  font-size: 30px;  color: #bd9412;  line-height: 1.6em; font-family: 'UTMEssendineCaps'; margin-bottom: 15px; text-transform: uppercase;}
.main-title-special{
background: rgba(189,149,18,1);
background: -moz-linear-gradient(left, rgba(189,149,18,1) 0%, rgba(234,193,123,1) 35%, rgba(189,149,18,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,149,18,1)), color-stop(35%, rgba(234,193,123,1)), color-stop(100%, rgba(189,149,18,1)));
background: -webkit-linear-gradient(left, rgba(189,149,18,1) 0%, rgba(234,193,123,1) 35%, rgba(189,149,18,1) 100%);
background: -o-linear-gradient(left, rgba(189,149,18,1) 0%, rgba(234,193,123,1) 35%, rgba(189,149,18,1) 100%);
background: -ms-linear-gradient(left, rgba(189,149,18,1) 0%, rgba(234,193,123,1) 35%, rgba(189,149,18,1) 100%);
background: linear-gradient(to right, rgba(189,149,18,1) 0%, rgba(234,193,123,1) 35%, rgba(189,149,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9512', endColorstr='#bd9512', GradientType=1 );

-webkit-box-shadow: 0px -2px 3px 0px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    0px -2px 3px 0px rgba(50, 50, 50, 0.1);
box-shadow:         0px -2px 3px 0px rgba(50, 50, 50, 0.1);
border-radius: 35px; padding:12px 80px; color:#fff;
}

body.site{}
.page-header { margin: 0px; background:#086055; border-bottom: 3px solid #f7c781; border-radius: 0px; padding: 0px 0px 0px; width: 100%; min-height:60px;
position: fixed; left: 0px; z-index: 53;

-webkit-transition: all .30s ease-in-out;
-moz-transition: all .30s ease-in-out;
-ms-transition: all .30s ease-in-out;
-o-transition: all .30s ease-in-out;
transition: all .30s ease-in-out;
z-index: 999;
}


.page-header  ul.nav-menu li { }
.page-header  ul.nav-menu li a { padding: 10px 15px;min-height: 50px; margin: 0px; text-decoration: none; text-transform: uppercase;
  color: #DD9C47; font-size: 20px; border-radius: 0px; background: transparent; }
.page-header  ul.nav-menu li:hover a,
.page-header  ul.nav-menu li.active a { color: #fff; }
.page-header  ul.nav-menu li.active a:hover{}
.page-header .menu-main-menu-container { padding-top: 15px; }
.page-header .navbar-collapse{position:relative; max-width: 1920px;padding: 0px;}

.page-header .logo img {width:158px; }

.page-header.fixed{top:0px; min-height:70px;background:rgba(0,0,0,0.5); padding-top:10px;}
.page-header.fixed .menu-main-menu-container{padding-top: 0px;}
.page-header.fixed .logo img{width:110px; }

#section_banner{
  /* background:url('../images/banner-bg.jpg') no-repeat center top;  */
  background-size:cover;
  position:relative;
  overflow:hidden;
}


#section_banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity: -0.7;
}

#section_banner .video-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
#section_banner .video-background video {
  height: 100%;
  width: auto;
}
#section_banner .inner{position:relative; height:930px;}
#section_banner .inner .img-banner{position:absolute; bottom: 0px; left:-130px; max-height: 85%;}


#section_banner .banner-info{position:absolute; max-width: 581px; right:0px; bottom: -30px; color:#fff; }
#section_banner .banner-logo{width:294px; margin:0px auto;}
#section_banner .banner-info .title{font-size: 32px; border-bottom: solid 1px rgba(255,255,255,0.3); display:inline-block;
  margin-bottom: 15px; padding-bottom: 6px; position:relative;
}
#section_banner .banner-info .title:before{position:absolute;content:''; width:28px; height:28px; background:rgba(255,255,255,0.2);
  left:50%; margin-left: -14px; bottom:0px; margin-bottom: -14px; border-radius: 50%;
}
#section_banner .banner-info .title:after{position:absolute;content:''; width:16px; height:16px; background:rgba(255,255,255,0.5);
  left:50%; margin-left: -8px; bottom:0px; margin-bottom: -8px; border-radius: 50%;
}

#section_banner .banner-info .description{text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);  font-size: 17px;}
#section_banner .banner-info .description span{display:inline-block; margin:0px 10px;}

#section_banner .banner-button a{color:#fff; text-align: left; padding-top: 10px; }
/*#section_banner .inner .banner-button a{display:block; float:left; margin-left: 10px; border:solid 1px rgba(255,255,255,0.25); border-radius: 30px; padding:10px;}
#section_banner .inner .banner-button a .btn-text{border-radius: 25px;  width:150px; height:54px; color:#fff; padding:9px 2px;}
#section_banner .inner .banner-button a.btn-register .btn-text{background:#ccb22c;}
#section_banner .inner .banner-button a.btn-hotline .btn-text{background:#be1e2d;}*/

#section_banner .banner-button a.btn-register{position:absolute;bottom:20px;left:20px; height:66px; padding-left: 80px;
  background:url('../images/icon-dang-ky.png') no-repeat left center; display:block; font-size: 17px;
}
#section_banner .banner-button a.btn-hotline{position:absolute;bottom:20px;right:0px; width:202px; height:61px; padding-left: 70px;
  background:url('../images/icon-hotline.png') no-repeat center center;  display:block; font-size: 16px; font-weight: 300; line-height: 1.1;
}
#section_banner .banner-button a.btn-hotline span{font-size: 20px; }


#section_about{padding:45px 0px 65px;}
#section_about .block-title{margin-left: -45px;}
#section_about .block-content {margin-top: -31px;}
#section_about .block-content .block-info {padding-top: 45px;}
#section_about .block-content .block-info ul{list-style: none; padding:0px; margin:0px;}
#section_about .block-content .block-info ul li{display:block; margin-bottom: 12px; position:relative; padding-left: 50px;  font-size: 18px;}
#section_about .block-content .block-info ul li:before{content:'';  width:10px; height:10px; background:#f3deb7; border-radius: 50%; position:absolute; left:25px; top:10px; }
#section_about .block-content .block-info ul li strong{color:#d9af64; font-weight: 500;}
#section_about .btn-special{margin-top: 30px; margin-left: 25px;}

#section_location .block-top{background:#fff;padding:20px 0px;}
#section_location .block-top .title{font-size: 30px; color:#bd9412; text-transform: uppercase; text-align: center; padding-bottom: 15px;}

#section_location .block-middle {padding:0px;  overflow:hidden; margin-top: -95px;}
/*#section_location .block-middle .box-map{position:relative; height:472px; }
#section_location .block-middle .box-map:before{content: ''; position: absolute;top: 0px;left: 0px;width: 800px;height: 500px;
}*/
#section_location .block-middle .box-info{margin-top: 120px; font-size: 16px; font-weight: 300;}
#section_location .block-middle .box-info h4{font-size: 28px; color:#17793e; line-height: 1.1;}
#section_location .block-middle .media{margin-top: 20px;}
#section_location .block-middle .media-left{padding-right: 25px;}
#section_location .block-middle .btn-viewmap{margin-top: 40px;}

#section_location .block-bottom{text-align: center; position:relative; padding-top: 70px;}
#section_location .block-bottom:before{content:''; height:40px; width:1px; background:#f0f0f0; position:absolute; left:50%; top:0px; margin-left: -0.5px;}
#section_location .block-bottom .block-title{
  display:inline-block; background:url('../images/location-number.png') no-repeat left top; min-height: 75px; padding-left: 65px;
   line-height: 1.3; text-align: left;
  position:relative; padding-bottom: 45px;
}
#section_location .block-bottom .block-title:before,
#section_location .block-bottom .block-title:after{position:absolute;content:''; width:28px; height:28px; background:rgba(242,230,188,0.2);
  left:50%; margin-left: -14px; top:-44px;  border-radius: 50%;}
#section_location .block-bottom .block-title:after{width:16px; height:16px; background:rgba(242,230,188,0.5);
  margin-left: -8px; top:-38px;}
#section_location .block-bottom .block-content{background:url('../images/bg-location-bottom.png') no-repeat center top; padding-top: 20px;}
#section_location .block-bottom .thumbnail{padding:0px; border:0px; background:transparent;}
#section_location .block-bottom .thumbnail img{-webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.12);
-moz-box-shadow:    0px 3px 30px 0px rgba(0, 0, 0, 0.12);
box-shadow:         0px 3px 30px 0px rgba(0, 0, 0, 0.12);
border-radius: 50%; -webkit-border-radius:50%; -moz-border-radius:50%;
}
#section_location .block-bottom .thumbnail h3{color:#bd9412; font-weight: 400; font-size: 18px; line-height: 1.4;}
#section_location .block-bottom .thumbnail h3 span{display:block; color:#17793e;}

#section_scope{overflow:hidden; padding:85px 0px;}
#section_scope .box-info .main-title{}
#section_scope .box-info .description{position:relative; padding:25px 0px; padding-right: 30px; margin-right: -30px; }
#section_scope .box-info .description:before{content: ''; position: absolute;top: 0px;right: 0px;width: 9999px;height: 100%;
background: #f2e6bc;}
#section_scope .box-info .description .inner{position:relative;}
#section_scope .box-info .description h4{margin-top: 30px; margin-bottom: 0px; color:#91710c; text-transform: uppercase; font-weight: 400;}

#section_scope .scope-list .media{ margin-right: 60px; margin-bottom: 35px; margin-top: 0px; font-size: 16px; text-transform: uppercase;
  border-bottom: solid 5px #fbf3e5;   line-height: 1.2; float:left;  color:#2a2a2a; font-weight: 400;
}
#section_scope .scope-list .media:last-child{margin-right: 0px;}
#section_scope .scope-list .media-body{width:auto;}
#section_scope .scope-list .media span{color:#17793e; font-size: 56px; font-weight: 500; display:inline-block; line-height: 1;}

#section_scope .box-background{position:relative; min-height: 630px;}
#section_scope .box-background:before{content: ''; position: absolute;top: 0px;left: 0px;width: 9999px;height: 100%;
background: url('../images/scope-img.jpg') no-repeat left top;}
#section_scope .btn{margin-top: 45px;}


#section_advantage{padding-bottom: 50px; position:relative;}
#section_advantage:after{ content:''; width:1px; height:50px; background:#f0f0f0; position:absolute; left:50%; bottom:0px; margin-left: -0.5px;}
#section_advantage .box-background{position:relative; min-height: 508px;}
#section_advantage .box-background:before{content: ''; position: absolute;top: 0px;right: 0px;width: 9999px;height: 100%;
background: url('../images/advantage-img.jpg') no-repeat right top;}
#section_advantage .box-info{padding-top: 60px; position:relative; z-index: 2;}
#section_advantage .main-title-special {border-top-left-radius: 5px; border-bottom-right-radius: 5px; margin-left: -85px;}


#section_masterplain .inner{border-top: solid 3px #eae5e2; padding: 30px 0px; position:relative;}
#section_masterplain .inner:before{content:'';  position:absolute;width:16px; height:16px; background:#f0f0f0;
  left:50%; margin-left: -8px; top:-8px;  border-radius: 50%;}
#section_masterplain .block-top{  }
#section_masterplain .block-top .title{font-size: 48px; font-weight: 300;}
#section_masterplain .block-content{padding:50px 0px 40px;}

#section_masterplain .note-text{color:#956d1e; line-height: 1.3;}
#section_masterplain .block-top .media{margin-top: 20px;}
#section_masterplain .block-top ul{list-style: none; padding:0px; margin:0px;}
#section_masterplain .block-top ul li{display:block; line-height: 1.4; font-weight: 300;}
#section_masterplain .block-top .media-left{padding-right: 25px;}
#section_masterplain .block-top h4{font-size: 18px; color:#17793e; font-weight: 600;}

#section_masterplain .block-info{padding-bottom: 25px;}

#section_masterplain .block-bottom {padding:45px 0px; background:#ece8e6;}
#section_masterplain .block-bottom .item{display:block;}
#section_masterplain .block-bottom .item h4{text-transform: uppercase; font-weight: 300; font-size: 15px; margin:4px 0px; text-align: center;}
#section_masterplain .block-bottom .thumb{position:relative;}
#section_masterplain .block-bottom .thumb:after{position:absolute;content:''; width:90px; height:90px;
  background:url('../images/icon-zoom.png') no-repeat center center; left:50%; top:50%; margin-left: -45px; margin-top: -45px;
  opacity:0;
  -webkit-transition: all .30s ease-in-out; -moz-transition: all .30s ease-in-out; -ms-transition: all .30s ease-in-out; -o-transition: all .30s ease-in-out; transition: all .30s ease-in-out;
}
#section_masterplain .block-bottom .thumb:hover:after{opacity:1;}

#section_utilities{overflow:hidden; padding:80px 0px;}
#section_utilities .description{padding-bottom: 90px;}
#section_utilities .item{margin-bottom: 10px;}
#section_utilities .item-1 img{display:inline;}
#section_utilities .item-3{height:450px; position:relative;}
#section_utilities .item-3 .inner{content:''; position:absolute; top:0px; left:0px; width:9999px; height:100%; background-repeat: no-repeat; }
#section_utilities .item-2 img,#section_utilities .item-4 img{width:100%;}

#section_finance{padding-bottom: 50px; position:relative;}
#section_finance:after{ content:''; width:1px; height:50px; background:#f0f0f0; position:absolute; left:50%; bottom:0px; margin-left: -0.5px;}
#section_finance .box-info{padding-top: 60px; position:relative; z-index: 2;}
#section_finance .main-title-special {border-bottom-left-radius: 5px; border-top-right-radius: 5px; margin-right: -85px;}

#section_register{background:url('../images/bg-register.jpg') no-repeat center center; background-size: cover; padding:45px 0px;}
#section_register .main-title{color:#fff; padding-bottom: 50px;}
#section_register .inner .box-text{color:#fff; font-weight: 300;
padding-right: 110px; border-right: solid 1px rgba(255,255,255,0.5);
}
#section_register .inner .box-text .title{font-size: 16px; text-transform: uppercase;}
#section_register .inner .box-text .hotline{font-size: 48px; line-height: 1.1; margin-bottom: 15px;}

#section_register .inner .block-form{ width:380px; margin:0px auto;}
#section_register .inner .block-form label{font-weight: 400;}
#section_register .inner .block-form label.error{font-size: 12px; color:red;}
#section_register .inner .block-form .form-control{height:45px;}
#section_register .inner .block-form .btn-special{padding:0px; border:0px;}
#section_register .inner .block-form .btn-special span{min-width: 226px;}


#section_partner{padding:45px 0px;}
#section_partner .owl-carousel{margin-top: 30px;}
#section_partner .item img{width:auto; margin:0px auto;}

#footer{min-height:85px; padding-bottom: 15px; color:#333333; font-weight: 300;}
#footer .block-content{border-top: solid 5px #f2e6bc; padding-top: 20px; }
#footer .copy-right{padding-top: 8px;}
#footer .copy-right a{color:#fda732;}

#footer .social-list a{margin-left:20px; display:inline-block;font-size: 20px;}
.fa-facebook-square{color:#518ab6;}
.fa-youtube-play{color:#ed1c24;}
.fa-google-plus{color:#e6484e;}


#section_banner .banner-info-image{margin:0px auto;}

.page-header .navbar-toggle{
  width: 36px;  height: 36px;  position: relative;  margin: 10px 0px;  border:0px;  background:transparent;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}
.page-header.navbar-inverse .navbar-toggle:focus, .page-header.navbar-inverse .navbar-toggle:hover{background:transparent;}
.page-header .navbar-toggle span{ display: block;position: absolute;height: 4px;width: 100%;background: #d3531a;border-radius: 1px; opacity: 1;left: 0;
  -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;  -moz-transition: .25s ease-in-out;  -o-transition: .25s ease-in-out;  transition: .25s ease-in-out;
}
.page-header .navbar-toggle .icon-bar+.icon-bar{margin-top:0px;}
.page-header .navbar-toggle span:nth-child(1) {  top: 0px;}
.page-header .navbar-toggle span:nth-child(2),.page-header .navbar-toggle span:nth-child(3) {  top: 10px;}
.page-header .navbar-toggle span:nth-child(4) {  top: 20px;}
.page-header .navbar-toggle.active span:nth-child(1) {  top: 10px;  width: 0%;  left: 50%;}
.page-header .navbar-toggle.active span:nth-child(2) {  -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg);  -o-transform: rotate(45deg);  transform: rotate(45deg);}
.page-header .navbar-toggle.active span:nth-child(3) {  -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}
.page-header .navbar-toggle.active span:nth-child(4) {  top: 10px;  width: 0%;  left: 50%;}

#gotop {position: fixed;bottom: 15px;right: 15px;width: 36px;height: 36px;background: #e9e9e9;color: #8c8c8c;text-align: center;
font-size: 18px;line-height: 36px;border-radius: 50%;-webkit-border-radius: 50; font-weight: 300;
}
#gotop:hover{background:#17793e; color:#fff;}

@media screen and (max-width:  1600px) {
  #section_banner .inner{height:800px;}
  #section_banner .banner-info-image {max-height: 480px;}
  #section_banner .banner-logo{width:230px;}
  #section_banner .banner-info .title{font-size: 27px;}
  #section_banner .banner-info .description{font-size: 15px;}
}

@media screen and (max-width:  1400px) {
	#section_banner .inner{height:680px;}
  #section_banner .banner-info-image {max-height: 400px;}
  #section_banner .banner-logo{width:180px;}
  #section_banner .banner-info .title{font-size: 24px;}
  #section_banner .banner-info .description{font-size: 13px;}
  #section_banner .banner-info{right:80px; bottom: -20px;}
  #section_banner .inner .img-banner{left:-30px;}
  #section_banner .banner-button a{zoom: 90%}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.page-header{top:1px;}
	.page-header  ul.nav-menu li a{padding:10px 10px; font-size: 13px;}
	#section_banner .inner{height:501px;}

  #section_banner .banner-info-image {max-height: 310px;}
  #section_banner .banner-logo{width:120px;}
  #section_banner .banner-info .title{font-size: 20px;}
  #section_banner .banner-info .description{font-size: 11px;}
  #section_banner .banner-info{right:90px; bottom: -20px;}
  #section_banner .banner-button a{zoom: 80%;}
  .main-title{font-size: 27px;}
  .main-title-special{padding:12px 50px;}

  .page-header .logo img{width: 140px;}

}

 /* Small devices (tablets, 768px and up) */
@media screen and (max-width: 991px) {
  .logo-line-2 { top:-13px; }
	.page-header{top:1px; position: relative;}
	#section_banner .inner{height:480px;}

#section_banner .banner-info-image {max-height: 280px;}
#section_banner .banner-logo{width:110px;}
#section_banner .banner-info .title{font-size:18px;}
#section_banner .banner-info .description{font-size: 10px;}
#section_banner .banner-info{right:90px; bottom: -20px;}
#section_banner .banner-button a{zoom: 75%;}
.main-title{font-size: 27px;}
.main-title-special{padding:12px 50px;}
.page-header .logo img{ width: 110px;}

#section_about .block-title img{width:440px;}
#section_about .block-content{margin-top: -20px;}
#section_about .block-content .block-info ul li{font-size: 15px;}
#section_location .block-middle .box-map{min-height: 10px;margin-top: 30px; margin-bottom: 30px; height:auto;}
#section_location .block-middle .box-map:before{display:none;}
#section_location .block-middle .btn-viewmap{margin-top: 0px;}

#section_location .block-bottom .block-content{background:transparent;}

#section_scope .box-background{min-height: 10px; margin-top: 25px;}
#section_scope .box-background:before{display:none;}

#section_advantage .box-info{padding-top: 0px;}
#section_advantage .main-title-special{margin-left: 0px;}
#section_advantage .box-background{min-height: 10px; margin-top: 25px;}
#section_advantage .box-background:before{display:none;}


#section_masterplain .block-bottom .item{text-align: center;}
#section_masterplain .block-bottom .item img{margin:0px auto;}

#section_finance .box-info{padding-top: 0px;}
#section_finance .main-title-special{margin-right: 0px;}
#section_register .inner .box-text{padding-right: 15px;}


.page-header .navbar-toggle{ display: block !important; }
.page-header .navbar-header{float:none; margin:0px;}
.navbar-toggle{display:block;}
.navbar-collapse{box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);position:absolute;right:0px;z-index:100;padding:0px 15px;}
.navbar-collapse.collapse{display:none!important;}
.nav-menu{float:none!important;margin:0px;}
.navbar-text{float:none;margin:15px 0;}
.navbar-collapse{margin:0px;margin-top:6px;right:auto;max-height:none;padding-top:25px;width:100%;left:0px;right:0px;margin-left:0px;margin-right:0px;
    border: 0px;
background: #fff;
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}
.navbar-collapse.collapse.in{display:block!important;padding-bottom:15px;margin-left:0px;margin-right:0px;left:0px;right:0px}

.page-header .menu-main-menu-container{width:100%;}

.page-header ul.nav-menu{padding-top:0px;width:auto;top:0px;}
.page-header ul.nav-menu li{padding:0px; float:none;border-bottom:1px solid #dcdcdc !important; margin:0 !important;}
.page-header ul.nav-menu li a{color:#000; padding:0px;line-height:42px;height:42px; min-height: 42px; width:100%;border-top:solid 0px #fff; padding-left:15px;}
.page-header ul.nav-menu li a:hover, .page-header ul.nav-menu li a:focus, .page-header ul.nav-menu li.open a, .page-header ul.nav-menu li.open a:hover, .page-header ul.nav-menu li.open a:focus, .page-header ul.nav-menu li.active a:hover, .page-header ul.nav-menu li.active a{background-color:transparent;border-top:solid 0px #fff;}
.page-header ul.nav-menu li.active, .page-header ul.nav-menu li:hover{border-top-left-radius:0px; border-top-right-radius:0px;}
.page-header ul.nav-menu li:hover a:after, .page-header ul.nav-menu li.active a:after{border-bottom-color:transparent;}
.page-header ul.nav-menu{padding-top:0px;height:auto;margin-bottom:0px;margin-top:0px;}
.page-header  ul.nav-menu li:hover a, .page-header  ul.nav-menu li.active a{color:#0c436e;}


#section_register{padding:45px 0px;}
#section_register .inner .block-bg{background:transparent; min-height: auto; margin-bottom: 30px;}
#section_register .inner .box-text{width:100%; position:static; left:auto; top:auto; max-width: 100%; transform:none;}
#section_register .inner{padding-right: 0px;}
#section_register .inner .block-form{width:auto;}


#section_masterplain .block-master{margin-bottom: 45px;}

#section_location .block-bottom .block-text ul{margin-bottom: 30px;}
#section_location .block-top .title span{display:block; margin-bottom:15px;}
#section_masterplain .block-top .title{font-size: 36px;}
#section_masterplain .masterplain-img{margin-top: 30px;}

#section_utilities{padding:45px 0px;}



}
@media screen and (max-width: 767px) {
  .page-header .logo { max-width: 140px;}
  #section_banner .inner{height:480px;}

  #section_banner .inner .img-banner{max-height: 70%;}
  #section_banner .banner-info .title{font-size: 36px; margin-top: -50px;}
  #section_banner .inner .banner-button{right:auto; bottom:10px;}

  #section_location .block-top .block-text{padding-left: 0px; margin-top: 30px;}
  #section_location .block-top .block-text:before{display:none;}

  #section_banner, #section_about,#section_location,#section_masterplain,#section_register{overflow:hidden;}
  #section_register .inner .box-text{padding-right: 0px; border-right: 0px;}

  .main-title{font-size: 22px;}
  .main-title-special{padding:12px 32px;}

  #section_utilities .description{padding-bottom: 30px;}
  #section_utilities .item-3{height:auto;}
  #section_register .inner .block-form{margin-top: 30px;}
  #section_register .inner .box-text .hotline{font-size: 42px;}
  #section_register .main-title{padding-bottom: 15px;}
  .social-list{text-align: center;}

}
@media screen and (max-width: 480px) {
	#section_banner .inner .banner-button a .btn-text{width:130px; font-size: 13px;}
	#section_register .inner .block-form .title{font-size: 16px;}

  #section_masterplain .block-top .media-left{width:100%; padding-right: 0px; display:block; margin-bottom: 15px;}
  #section_masterplain .block-top .media-left img{width:100%; }
  #section_register .inner .block-form .btn-special{width:100%; }
  #section_register .inner .block-form .btn-special span{width:100%;}
  .main-title-special{padding:12px 20px; font-size: 18px;}
  #section_banner .banner-button a{zoom:70%;}
  #section_banner .inner{height:320px;}

}

.vedautrang {
    bottom: 15px;
    cursor: pointer;
    height: 70px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    width: 290px;
}
.icon_vedautrang {
    display: inline-block;
    height: 70px;
    width: 70px;
}




